$primaryColor1: hsl(356, 100%, 66%);
$primaryColor2: hsl(355, 100%, 74%);
$primaryColor3: hsl(208, 49%, 24%);
$neutralColor1: hsl(0, 0%, 100%);
$neutralColor2: hsl(240, 2%, 79%);
$neutralColor3: hsl(207, 13%, 34%);
$neutralColor4: hsl(240, 10%, 16%);
// Background gradient - Intro/CTA mobile nav
$gradientColor1: hsl(13, 100%, 72%);
$gradientColor2: hsl(353, 100%, 62%);
// Background gradient - body
$gradientColor3: hsl(237, 17%, 21%);
$gradientColor4: hsl(237, 23%, 32%);
$fontSize: 1.6rem;
