@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,600;1,300;1,600&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Overpass", sans-serif;
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.hero {
  width: 100%;
  background-image: url("../images/bg-pattern-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsl(13, 100%, 72%);
  border-bottom-left-radius: 7rem;
}
.hero .main-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 1rem;
}
@media (min-width: 901px) {
  .hero .main-header {
    align-items: flex-start;
    padding: 1rem 5rem;
    width: 100%;
  }
}
.hero .main-header .logo {
  width: 8rem;
  height: 2.5rem;
}
@media (min-width: 901px) {
  .hero .main-header .logo {
    margin: 3rem 0 0 2rem;
  }
}
.hero .main-header .navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (min-width: 901px) {
  .hero .main-header .navigation {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.hero .main-header .navigation .navigation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin: 5rem auto 0;
  padding: 1rem;
  left: 0;
  right: 0;
  width: 80%;
  max-width: 35rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
  display: none;
}
@media (min-width: 901px) {
  .hero .main-header .navigation .navigation-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
}
.hero .main-header .navigation .navigation-container .links {
  text-align: center;
  width: 100%;
  border-bottom: 0.1rem solid rgb(236, 236, 236);
}
@media (min-width: 901px) {
  .hero .main-header .navigation .navigation-container .links {
    display: flex;
    flex-direction: row;
    width: 60%;
    max-width: 60rem;
    justify-content: space-around;
    margin-left: 3rem;
    border-bottom: none;
    margin-top: 2rem;
  }
}
.hero .main-header .navigation .navigation-container .links .links-element {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 90%;
  margin: 0 auto;
}
.hero .main-header .navigation .navigation-container .links .links-element .links-title {
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  border-bottom: none;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: hsl(240, 10%, 16%);
}
@media (min-width: 901px) {
  .hero .main-header .navigation .navigation-container .links .links-element .links-title {
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
    margin-right: 2rem;
  }
  .hero .main-header .navigation .navigation-container .links .links-element .links-title:hover {
    cursor: pointer;
    border-bottom: 0.1rem solid hsl(0, 0%, 100%);
  }
}
.hero .main-header .navigation .navigation-container .links .links-element .links-title .arrow {
  filter: brightness(1) invert(1);
  width: 0.8rem;
  height: 0.6rem;
  border-bottom: none;
  transition: transform 0.3s ease;
}
@media (min-width: 901px) {
  .hero .main-header .navigation .navigation-container .links .links-element .links-title .arrow {
    filter: brightness(0) invert(1);
  }
}
.hero .main-header .navigation .navigation-container .links .links-element .links-title .arrow.active {
  transform: rotate(180deg);
}
.hero .main-header .navigation .navigation-container .links .links-element .links-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(236, 236, 236);
  margin: 1rem auto;
  width: 90%;
  display: none;
}
@media (min-width: 901px) {
  .hero .main-header .navigation .navigation-container .links .links-element .links-list {
    margin-top: 1.5rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    padding: 1rem;
    display: none;
    transition: max-height 0.3s ease;
    overflow: hidden;
  }
}
.hero .main-header .navigation .navigation-container .links .links-element .links-list .link {
  padding: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: hsl(207, 13%, 34%);
  font-weight: 500;
}
.hero .main-header .navigation .navigation-container .links .links-element .links-list .link:hover {
  font-size: 1.5rem;
  cursor: pointer;
  color: hsl(208, 49%, 24%);
  font-weight: bold;
}
@media (min-width: 901px) {
  .hero .main-header .navigation .navigation-container .links .links-element .links-list .link {
    padding: 0.5rem 1rem;
  }
}
.hero .main-header .navigation .navigation-container .links .links-element .links-list.show {
  display: flex;
  max-height: 20rem; /* Adjust this value to your desired maximum height */
}
.hero .main-header .navigation .navigation-container .connect-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
@media (min-width: 901px) {
  .hero .main-header .navigation .navigation-container .connect-btns {
    display: block;
    margin-top: 0;
  }
}
.hero .main-header .navigation .navigation-container .connect-btns .login {
  color: hsl(240, 10%, 16%);
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 2rem;
}
.hero .main-header .navigation .navigation-container .connect-btns .login:hover {
  cursor: pointer;
}
@media (min-width: 901px) {
  .hero .main-header .navigation .navigation-container .connect-btns .login {
    color: hsl(0, 0%, 100%);
  }
}
.hero .main-header .navigation .navigation-container .connect-btns .sign-up {
  border-radius: 5rem;
  padding: 0.8rem 1.5rem;
  border: none;
  background-color: hsl(0, 0%, 100%);
  color: hsl(356, 100%, 66%);
  font-weight: bold;
  margin-left: 0;
  background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  margin: 2rem 0;
  padding: 1.5rem 3rem;
  color: hsl(0, 0%, 100%);
}
@media (min-width: 901px) {
  .hero .main-header .navigation .navigation-container .connect-btns .sign-up {
    margin-left: 5rem;
    background: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
  }
}
.hero .main-header .navigation .navigation-container .connect-btns .sign-up:hover {
  cursor: pointer;
  opacity: 0.8;
}
@media (min-width: 901px) {
  .hero .main-header .navigation .menu-btns {
    display: none;
  }
}
.hero .main-header .navigation .menu-btns .open-btn {
  width: 2.5rem;
  height: 2rem;
}
.hero .main-header .navigation .menu-btns .close-btn {
  display: none;
  width: 2.5rem;
  height: 2.5rem;
}
.hero .hero-article {
  margin: 5rem auto 0;
  width: 100%;
  padding: 2rem 1rem 10rem;
  text-align: center;
}
.hero .hero-article .hero-heading {
  padding: 2rem 0;
  font-size: clamp(3.5rem, 6vw, 4.5rem);
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}
.hero .hero-article .hero-paragraph {
  padding: 1rem 0 3rem;
  font-size: clamp(1.6rem, 6vw, 2.2rem);
  color: hsl(0, 0%, 100%);
}
.hero .hero-article .hero-btns {
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.hero .hero-article .hero-btns .start-btn {
  padding: 1rem;
  width: 40%;
  max-width: 15rem;
  border-radius: 5rem;
  border: none;
  font-weight: bold;
  color: hsl(356, 100%, 66%);
}
.hero .hero-article .hero-btns .start-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.hero .hero-article .hero-btns .learn-more-btn {
  padding: 1rem;
  width: 40%;
  max-width: 15rem;
  border-radius: 5rem;
  border: 0.1rem solid hsl(0, 0%, 100%);
  background: transparent;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  font-size: 1.3rem;
}
.hero .hero-article .hero-btns .learn-more-btn:hover {
  cursor: pointer;
  color: hsl(356, 100%, 66%);
  background-color: hsl(0, 0%, 100%);
  font-size: 1.3rem;
}

.design-the-future {
  width: 100%;
  padding: 5rem 1rem;
}
.design-the-future .second-heading {
  text-align: center;
  font-size: clamp(2.5rem, 6vw, 3.5rem);
  font-weight: 400;
  padding: 3rem 1rem 1rem;
}
@media (min-width: 1024px) {
  .design-the-future .design-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
  }
}
.design-the-future .design-container .main-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 50rem;
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../images/illustration-editor-mobile.svg");
}
@media (min-width: 1024px) {
  .design-the-future .design-container .main-image {
    width: 50%;
    margin: 0;
    max-width: 70rem;
    height: 60rem;
    background-image: url("../images/illustration-editor-desktop.svg");
  }
}

.art-infrastructure {
  width: 100%;
  margin: 15rem auto 0;
  height: auto;
  padding: 0rem 1rem 10rem;
  background-color: hsl(237, 23%, 32%);
  border-radius: 0 5rem 0 5rem;
  background-image: url("../images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: -50%;
}
@media (min-width: 1024px) {
  .art-infrastructure {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
    padding: 0;
    height: 35rem;
  }
}
.art-infrastructure .phones-illustration {
  display: block;
  left: 0;
  right: 0;
  width: 90%;
  max-width: 40rem;
  height: auto;
  margin: -10rem auto 0;
}
@media (min-width: 1024px) {
  .art-infrastructure .phones-illustration {
    max-width: 60rem;
    margin: 0 auto;
  }
}
.art-infrastructure .art-infrastructure-article .third-heading {
  color: hsl(0, 0%, 100%);
  font-size: clamp(2.5rem, 6vw, 4rem);
  font-weight: 500;
}
.art-infrastructure .art-infrastructure-article .paragraph {
  color: hsl(0, 0%, 100%);
}

.open-simple {
  position: relative;
  width: 100%;
  top: 10rem;
  padding-bottom: 10rem;
}
@media (min-width: 1024px) {
  .open-simple {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    height: 70rem;
    margin-bottom: 10rem;
  }
}
.open-simple .main-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 50rem;
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../images/illustration-laptop-mobile.svg");
}
@media (min-width: 1024px) {
  .open-simple .main-image {
    background-image: url("../images/illustration-laptop-desktop.svg");
    width: 60%;
    margin: 0;
    max-width: 70rem;
    height: 60rem;
  }
}

.footer-section {
  width: 100%;
  background-color: hsl(240, 10%, 16%);
  border-top-right-radius: 5rem;
  text-align: center;
  padding: 5rem 0;
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
@media (min-width: 1024px) {
  .footer-section {
    text-align: left;
  }
}
.footer-section .logo {
  margin: 4rem auto 0;
  width: 8rem;
  height: 2.5rem;
}
.footer-section .product,
.footer-section .company,
.footer-section .connect {
  margin: 2rem auto;
}
.footer-section .product .title,
.footer-section .company .title,
.footer-section .connect .title {
  padding: 2rem;
  font-size: 1.8rem;
  color: hsl(0, 0%, 100%);
}
@media (min-width: 1024px) {
  .footer-section .product .title,
  .footer-section .company .title,
  .footer-section .connect .title {
    padding: 2rem 0;
  }
}
.footer-section .product .list .element,
.footer-section .company .list .element,
.footer-section .connect .list .element {
  list-style: none;
  padding: 0.6rem;
}
@media (min-width: 1024px) {
  .footer-section .product .list .element,
  .footer-section .company .list .element,
  .footer-section .connect .list .element {
    padding: 0.6rem 0;
  }
}
.footer-section .product .list .element .link,
.footer-section .company .list .element .link,
.footer-section .connect .list .element .link {
  text-decoration: none;
  font-size: 1.5rem;
  color: hsl(240, 2%, 79%);
}
.footer-section .product .list .element .link:hover,
.footer-section .company .list .element .link:hover,
.footer-section .connect .list .element .link:hover {
  cursor: pointer;
  border-bottom: 0.1rem solid hsl(0, 0%, 100%);
}

.attribution {
  width: 100%;
  background-color: hsl(240, 10%, 16%);
  color: #fdfdfd;
  text-align: center;
  padding: 4rem;
}
.attribution a {
  color: #fdfdfd;
  cursor: pointer;
}

.text-box {
  width: 100%;
  max-width: 50rem;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .text-box {
    text-align: left;
  }
}
.text-box .third-heading {
  color: hsl(208, 49%, 24%);
  font-size: clamp(2rem, 6vw, 3rem);
  padding: 2rem 1rem;
}
@media (min-width: 1024px) {
  .text-box .third-heading {
    text-align: left;
  }
}
.text-box .paragraph {
  color: hsl(240, 10%, 16%);
  line-height: 1.5;
  font-size: clamp(1.6rem, 6vw, 2rem);
  padding: 1rem;
  margin-bottom: 2rem;
}/*# sourceMappingURL=main.css.map */